@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f8f7;
  --foreground: #0c2625;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input,
select,
textarea {
  @apply outline-none;
}
